.home .wolf-jplayer-playlist div.jp-audio .jp-logo {
	width: 158px;
}
.home .wolf-jplayer-playlist-container {
	height: 314px;
}

.module-media {
	padding-top: 2em; 
	margin-bottom: 2em;
	
	.container {
		max-width: 1170px;
		margin-right: auto;
		margin-left: auto;
	}

	.media-title {
		text-align: center;

		h2 {
			font-size: 3em;
			border-bottom: 1px solid $black;
			padding-bottom: .2em;
			display: inline-block;
		}
	}

	.media-player {
		margin: 1em;
	}

	iframe {
		min-width: 100%;
		height: 315px; 
	}

	.video-box {
		cursor: pointer;
	}
}


@media screen and (min-width: $md-breakpoint) {
	.media-box {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
}