.module-tour {
	.container {
		max-width: 1170px;
	}

	background: rgba(0,0,0,0.8);
	padding-bottom: 2em;
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
		
		.tour-wrapper {
			padding-bottom: 3em;
		}
		.tour-title {
			text-align: center;

			h2 {
				color: $white;
				font-size: 3em;
				display: inline-block;
				border-bottom: 1px solid $light-gray;
				padding-bottom: .3em;
			}
		}

	.tour-list {
		text-align: center;
		padding-bottom: 3em;

	.list {
		margin-right: 1em;
		display: table-cell;
		color: $white;
		}
	}

	.table-header {
		color: $white;
	}
}