.module-tour {
	margin-top: 2em;

	.container {
		max-width: 1170px;
		margin-right: auto;
		margin-left: auto;
	}

	background: $milk;
	padding-bottom: 2em;
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
		
		.tour-wrapper {
			padding-bottom: 3em;
		}
		.tour-title {
			text-align: center;

			h2 {
				color: $black;
				font-size: 3em;
				display: inline-block;
				padding-bottom: .3em;
			}
		}

	.tour-list {
		text-align: center;
		padding-bottom: 3em;

	.list {
		margin-right: 1em;
		display: table-cell;
		color: $black;;
		}
	}

	.table-header {
		color: $black;
	}
	.tour {
		h5 {
			text-align: center;
			font-size: 1.5em;
		}
	}

}

