//Video styles and logo
.home .page-header {
    position: absolute;
    left: -999999px;
}
.container {
  max-width: none;
}

.video-banner {
  position: relative;

  .video {
    position: relative;
    width: 100% !important;
    height: 100% important;
    z-index: 1;
  }

  .sub-header-mobile {
    position: relative;
    text-align: center;
    padding-top: 2em;
    background-color: whitesmoke;
  }

  .sub-header { 
    position: absolute;
    z-index: 99999;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
